body {
  font-family: sans-serif;
  line-height:4;

  background-color: #FFA07A;
  color: #333333;

  width: 980px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 0;
  font-family:system-ui;
}

main > h2 {
  text-align: center;
  font-size: 25px;
}
